.favorite {
  &__section {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 12px;
    @include mq("tablet") {
      background-color: #f5f5f5;
    }
    @include mq("laptop") {
      justify-content: center;
      max-width: 1232px;
    }
  }
  &__block {
    display: flex;
    width: 100%;
    height: auto;
  }
  &__header {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 16px;
    margin-bottom: 8px;
  }
  &__title {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    line-height: 20px;
    font-size: $font-size-m;
  }
  &__elements {
    display: grid;
    position: relative;
    overflow: hidden;
    grid-auto-flow: row;
    border-radius: 4px;
    grid-template-columns: repeat(3, minmax(106px, 1fr));
    gap: 0px;
    @include mq("tablet") {
      grid-template-columns: repeat(5, minmax(120px, 1fr));
      padding-left: 16px;
      padding-right: 16px;
    }
    @include mq("large") {
      grid-template-columns: repeat(8, minmax(120px, 1fr));
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
.section__block {
  display: flex;
  flex-direction: column;
}
