.footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  font-family: $font-general;
  @include mq("tablet") {
  }
  @include mq("large") {
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
    @include mq("tablet") {
      flex-direction: row;
      margin-bottom: 0;
    }
  }
  &__block {
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__download {
    display: flex;
    width: 100%;
    font-size: $font-size-xl;
    color: $color-primaryHover;
  }
  &__download-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__title {
    display: flex;
    width: 100%;
    font-weight: 400;
    line-height: 26px;
    @include mq("tablet") {
      margin-bottom: 8px;
    }
  }
  &__dropdown {
    display: flex;
    width: 100%;
    margin-top: 24px;
    flex-direction: column;
  }
  &__copyright {
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    border-top: 1px solid #f5f5f5;
    @include mq("tablet") {
      padding: 24px;
      max-height: 81px;
      background-color: #fff;
    }
    @include mq("large") {
      max-width: 1232px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.dowload-button--margin {
  margin-bottom: 16px;
}
.dropdown {
  &__block {
    display: flex;
    width: 100%;
  }
  &__button {
    display: flex;
    width: 100%;
    font-size: $font-size-xl;
    justify-content: space-between;
    border: none;
    background: none;
    padding: 0;
    @include mq("tablet") {
      text-align: start;
      margin-right: 8px;
    }
  }
  &__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 24px;
    @include mq("tablet") {
      margin-top: 16px;
    }
  }
  &__title {
    color: $color-primaryHover;
  }
  &__icon {
    display: flex;
    background-color: rgb(243, 240, 254);
    transition: transform 0.5s ease 0s;
    transform: rotate(180deg);
    border-radius: 8px;
    color: $color-primaryHover;
    font-size: $font-size-m;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
  }
  &__link {
    display: flex;
    text-decoration: none;
    width: 100%;
    color: black;
    font-size: $font-size-m;
    padding-bottom: 16px;
    &-text {
      display: flex;
      overflow-wrap: break-word;
      margin-right: 16px;
    }
  }
}

.icon--180rotate {
  transition: transform 0.5s ease 0s;
  transform: rotate(180deg);
}

.icon--360rotate {
  transition: transform 0.5s ease 0s;
  transform: rotate(360deg);
}
.copyright {
  &__block {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @include mq("tablet") {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__info {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__social-medias {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__social-media {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  &__link {
    color: #697488;
    font-size: 20px;
  }
  &__language {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4px;
  }
}
.info__link {
  margin-top: 4px;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: $font-size-s;
}
.block__text {
  display: flex;
  font-size: $font-size-s;
}
.language {
  &__button {
    display: flex;
    padding-left: 10px;
    line-height: 32px;
    padding-right: 10px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(25, 25, 25, 0.1);
    color: #697488;
    border-radius: 8px;
  }
  &__icon {
    margin-right: 8px;
  }
}
