$finger-size: 48px;
$small-button: 32px;
//FONT SIZE
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
//COLORS
$color-primary: rgb(76, 51, 152);
$color-primaryHover: rgb(93, 62, 188);
$color-secondary: rgb(255, 228, 48);
